@mixin bottom-line-fix($fixing-height: 2px) {
  vertical-align: $fixing-height;
}

@mixin fonts() {
  font-family: 'Alegreya', 'Sawarabi Mincho ', serif;
} 

body {
  background-color: $background-color;
  background-image: url("https://www.transparenttextures.com/patterns/wine-cork.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: $font-color-main;
  @include fonts();
}

span.icon {
  font-family: FontAwesome;
}


span.bottom-fix-2px {
  @include bottom-line-fix(2px);  
}

span.bottom-fix-5px {
  @include bottom-line-fix(5px);  
}

.white-paper {
  background-color: $paper-background-color;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  a {
    color: $font-color-main;
  }
}

.wooden {
  background-color: $wooden-color;
  background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: $font-color-inverse;

  border-color: $font-color-inverse;

  &.is-active {
    border-color: $font-color-inverse;
    color: $font-color-inverse;
  }

  a {
    color: $font-color-inverse;
    text-decoration: underline;
  }

  .navbar-item {
    color: $font-color-inverse;
  }

  .white-paper a {
    color: $font-color-main;
  }
}

footer {
  margin-top: 0.75rem;
}

.padding-75rem {
  padding: 0.75rem;
}

button {
  @include fonts();
}

input, select, textarea {
  @include fonts();
}