body {
    background-color: $background-color;
    background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

    font-family: 'Alegreya', 'Sawarabi Gothic', serif;
  }

span.icon {
  font-family: FontAwesome;
}